<div style="display: flex;">
    <h3>User Profile</h3>
    <div>
      <h4>Username: {{user.Username}}</h4>
      <h4>Email: {{user.Email}}</h4>
    </div>
    <mat-card>
        <mat-card-header>
          <mat-card-title>Update User!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form>
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="userData.Username"
                placeholder="Username"
                type="text"
                name="Username"
                required
              >
              </mat-form-field>
              <mat-form-field>
              <input
                matInput
                [(ngModel)]="userData.Password"
                type = "password"
                placeholder="Password"
                name="Password"
                required
              >
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
            <button
              mat-raised-button
              (click)="updateUser()"
              color="primary"
              style="margin-right: 10px;"
            >
              Update User
            </button>
        </mat-card-actions>
    </mat-card>
</div>